.container{
    display: flex;
    flex-direction: column;

    .content{
        width: 100%;
        height: 99vh;
        display: flex;
        //background-color: red;
        flex-direction: row;

        .options_bar{
            width: 20%;
            height: 100%;
            background-color: var(--gray);
        }

        .view_data{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .row_date{
                width: 98%;
                height: 5vh;
                background-color: var(--gray);
                display: flex;
                align-items: center;
                justify-content: space-between;
                    
              p{
                margin: 10px;
                font-family: 'Bosch_Sans_Bold';
              }
              
              

            }

            .data_geral{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .line-inital-data{
                    width: 98%;
                    height: 20vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .green{
                        background-color: var(--green);
                    }

                    .yellow{
                        background-color: var(--yellow)
                    }

                    .blue{
                        background-color: var(--LightBlue)
                    }

                    .red{
                        background-color: var(--red)
                    }

                    .card{
                        width: 28vh;
                        height: 15vh;
                        //background-color: blue;
                        border-radius: 3px;
                        box-shadow: 5px 5px 3px var(--gray);

                        .card-title{
                            width: 100%;
                            height: 30%;
                            text-align: center  ;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .title{
                                font-family: 'Bosch_Sans_Regular';
                                font-size: 12px;
                            }

                        }

                        .card-body{
                            width: 100%;
                            height: 70%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .text-body{
                                font-family: 'Bosch_Sans_Bold';
                                font-size: 30px;
                            }

                        }

                    
                    }

                }

                .content-grapichs{
                    width: 98%;
                    height: 74vh;
                    //background-color: orange;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .card-grapich{
                        width: 48%;
                        height: 34vh;
                        background-color: var(--gray);
                        
                        .card-grapich-content-title{
                            width: 100%;
                            height: 20%;
                            background-color: #D0D4D8;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .card-grapich-title-text{
                                font-family: 'Bosch_Sans_Bold';
                            }

                        }

                        .container-grapich{
                            width: 100%;
                            height: 80%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            //background-color: purple;

                            .p-chart{
                                width: 100%;
                                height: 60%;
                                background-color: orange;   
                            }
                        }


                    }


                }

            }

        }

    }

}